<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header.html' %}
</head>
<body>
    <main class="container my-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    {% include 'partials/footer.html' %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>